
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateArtist</title>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td> <p> Інформація про художника: </p> </td>
                    <td> <input type="text" name="Info" /> </td>
                </tr>
                <tr>
                    <td> <p> Назва файлу фотографії художника: </p> </td>
                    <td> <input type="text" name="Photo" /> </td>
                </tr>
            </table>
            <input type="submit" value="Ok" />
        </form>
    </div>
</body>
</html>
