@{
    Layout = null;
}

<! DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title> Home </title>
</head>
<body>
    <div>
        <h1>Картинна галерея</h1>
        <h3>Меню </h3>
        <p> <a href="/Home/ViewPictures"> Картини </a> </p>
        <p> <a href="/Admin/Index"> Адміністрування БД </a> </p>


    </div>
</body>
</html>