
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.PictureId" name="PictureId" />
            <table>
                <tr>
                    <td> <p> Назва картини: </p> </td>
                    <td> <input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td> <p> Художник: </p> </td>
                    <td> <input type="text" name="Artist" /> </td>
                </tr>
                <tr>
                    <td> <p> Жанр: </p> </td>
                    <td> <input type="text" name="Genre" /> </td>
                </tr>
                <tr>
                    <td> <p> Стиль: </p> </td>
                    <td> <input type="text" name="Style" /> </td>
                </tr>
                <tr>
                    <td> <p> Матеріали: </p> </td>
                    <td> <input type="text" name="Materials" /> </td>
                </tr>
                <tr>
                    <td> <p> Ціна: </p> </td>
                    <td> <input type="text" name="Price" /> </td>
                </tr>
                <tr>
                    <td> <p> Назва зображення картини: </p> </td>
                    <td> <input type="text" name="Link" /> </td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Завершити" /> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> <a href="/Home/ViewPictures"> Відмінити </a> </td>
                    <td> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
