
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td> <p> Ціна: </p> </td>
                    <td> <input type="text" name="price" /> </td>
                </tr>
            </table>
            <input type="submit" value="Ok" />
        </form>
    </div>
</body>
</html>
